{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOLA ALUMNOS</h1>
    <br>

    <ul>
        {% for alumno in alumnos %}
            <li>
                {{ alumno.nombre }} {{ alumno.apellido_paterno }} {{ alumno.apellido_materno }} - {{ alumno.email }}
            </li>
        {% endfor %}
        
    </ul>
    <br>
</body>
</html>