{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INFORMACIÓN DE ALUMNOS</h1>
    <br>

    <ul>
        {% for alumno in alumnos %}
            <li>{% if alumno.rut %}
                    <a href="{% url 'editar_alumno' alumno.rut %}">{{ alumno.rut }} {{ alumno.nombre }} {{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}</a> - {{ alumno.email }}
                {% else %}
                    {{ alumno.nombre }} {{ alumno.apellido_paterno }} {{ alumno.apellido_materno }} - {{ alumno.email }}
                {% endif %}
            </li>
        {% endfor %}
        
    </ul>
    <br>
</body>
</html>